*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
   
    align-items: center;
    min-height: 100vh;
    background-color: rgb(6, 109, 109);
}
.container{
    background-color: rgb(247, 246, 246);
    padding: 2rem;
    border-radius: 2rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
form input{
    border: 1px solid lightgray ;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    font-size:1.7rem ;
    max-width: 2rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.select-container{
    display: flex;
    width: 6rem;
    border: 1px solid lightgray ;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: sandybrown;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
 
form button{
    height: 3rem;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 1.1rem;
    cursor: pointer;
}
h3{
    color: rgb(230, 8, 8);
    font-size: 1.2rem;
    font-weight: 800;
}