*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 2px;
    display:block;
}

h1{
    background-color: rgba(14, 4, 51, 0.733);
    color: aliceblue;
}
.choice {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 10px;
}
.choice:hover{
 cursor: pointer;
    opacity: 0.5;
    border-radius: 50%;
    background-color: black;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 4rem;
}
#user{
    font-size: 3rem;
    text-decoration: black;
}
#comp{
    font-size: 3rem;
    text-decoration: black;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    display: inline;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
